---
export interface Props {
	title: string;
	class?: string;
}

const { title, class: className = "mb-8" } = Astro.props;
---

<section class={`${className} pb-6 border-b border-gray-200 last:border-b-0`}>
	<h2 class="text-2xl font-normal mb-5 text-indigo-800">{title}</h2>
	<slot />
</section>